<div class="container shadow p-3 mb-3 bg-white rounded">
    <div class="d-flex justify-content-around">
        <div>
            <h6>Highlight text by toggle button here</h6>
            <button (click)="toggleHighlight()">Toggle Highlight</button>
            <p appHighlightText [toggleHighLight]="true">highlight works!</p>
        </div>
        <div>
            <h6>highlight text by hover : </h6>
            <h3 appHighlightText [highlightByHover]="true" [defaultColor]="defaultColor">hover on me</h3>
        </div>
    </div>

    <jd-reactive-table></jd-reactive-table>
    

</div>

<!-- <p appHighlightText >highlight works!</p> -->
